.dashboard-content {
	.dashboard-hello{
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
		font-family: "Poppins";
	}
	.dashboard-username{
		font-size: 26px;
		line-height: 20px;
		font-family: "Poppins";
		padding-left: 10px;
		font-weight: 600;
	}
	.btn-link {
		display: inline;
		padding: 0;
		font-size: inherit;
		font-weight: 400;
		line-height: inherit;
		vertical-align: top;
		white-space: normal;
	}

	p {
		line-height: 1.75;

		&:first-child {
			margin-top: -.2rem;
			margin-bottom: 2.4rem;
		}
	}

	.feature-box {
		// padding-top: 3.5rem;
		margin-bottom: 2rem;
		border: 2px solid #e7e7e7;
display: flex;
align-items: center;
		i {
			margin-bottom: 2.5rem;
			color: #d3d3d4;
			font-size: 6rem;
			transition: transform .35s;
		}

		&:hover {
			cursor: pointer;

			i {
				transform: scale(1.15);
				transition: transform .35s;
			}
		}
	}
}
.iconhover:hover{
	fill:"red"
}
.widget-dashboard {
	h2 {
		margin-top: -1px;
		margin-bottom: 1.5rem;
		font-size: 1.6rem;
	}

	.list {
		border-bottom: none;
		
		a {
			padding: 1rem 0 1.1rem;
			color: #777;
			letter-spacing: -.025em;
			font-size: 1.4rem;
	
			&:hover, &:focus {
				background: transparent;
			}
	
			&.active {
				color: #222524;
				font-weight: 700;
			}
		}
	}

	li:last-child a {
		border-bottom: 0;
	}

	li {
		padding: 8px 0 8px 0;
		
		&:before {
			display: none;
		}
	}

	.nav-tabs .nav-item:last-child {
		margin-right: 3.5rem;
	}
}

.account-container {
	margin-top: 4.2rem;
	margin-bottom: 4.2rem;
}

.nav-tabs.list {
	.nav-item {
		padding: 0;

		.nav-link {
			padding: 1.3rem 0 1.5rem;
			font-family: $font-family;
			text-transform: capitalize;
			font-size: 1.4rem;
			border: none;
			font-weight: 400;
			color: #777;

			&:hover {
				cursor: pointer;
			}
		}
		
		.nav-link.address,
		&.active .nav-link {
			font-weight: 700;
			color: $primary-color-dark;
		}
	}
}

.content-box:hover{
	border-color: #E30613;
}
.content-box:hover .iconhover{
	fill:#E30613 ;
}
.hover-image:hover {
	fill: #E30613 !important;	
  }
  

.iconwrapper-dash{
	background-color: rgb(237, 237, 237,1);
}  
.content-box:hover .iconwrapper-dash{
	background-color: rgb(250,250,250,1);
}


.dashboard-box{
	width: 331.46px;
	height: 276.71px;
}



@media (max-width:1024px) {
	.dashboard-box{
		width: 284.46px;
		height: 276.71px;
	}	
}

@media (max-width:768px) {
	.dashboard-box{
		width: 218.46px;
		height: 223.71px;
	}	
}


@include mq("sm", max) {
	.dashboard-content {
		// padding: 0 10px;
		// .feature-box h3 {
		// 	font-size: 1.3rem;
		// }
		.dashboard-username{
			font-size: 22px;
		}
	}
}